*,
*::before,
*::after {
	box-sizing : border-box;
	margin     : 0;
	padding    : 0;
}

html {
	font-family : "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size   : 100%;
	line-height : 1.8;
}

button {
	cursor  : pointer;
	padding : 10px;
}

img {
	height    : auto;
	max-width : 100%;
}

/* Main */
.carousel {
	max-width : 600px;
	position  : relative;
}

.carousel-item__background {
	height : 300px;
	width  : 100%
}

.carousel-item {
	animation : fadeIn .5s ease-in-out 0s
}

.carousel-item.carousel-item-visible {
	animation : fadeIn .5s ease-in-out 0s;
	display   : block;
}

.carousel-item.carousel-item-hidden {
	animation : fadeOut .5s ease-in-out 0s;
	display   : none;
}

.carousel-actions {
	display         : flex;
	flex-flow       : row wrap;
	justify-content : space-between;
	left            : 10px;
	position        : absolute;
	right           : 10px;
	top             : 50%;
	transform       : translateY(-50%);
	width           : calc(100% - 20px);
}

.slide-btn {
	border : none;
	height : 50px;
	width  : 50px;
}

@keyframes fadeIn {
	0% {
		opacity : 0
	}
	100% {
		opacity : 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity : 1
	}
	100% {
		opacity : 0;
	}
}
